<%- include('../partials/header') %>

<h2>Admin Dashboard</h2>
<p>Welcome, Admin <%= user.username %>!</p>
<p>From here you can manage users and other site settings.</p>
<ul>
    <li><a href="/admin/users" class="btn">Manage Users</a></li>
    </ul>

<%- include('../partials/footer') %>